*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(34, 9, 9);
}
.main-container{
    width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
}
.title-search{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.title-search img{
    height: 4rem;
    width: 5.5rem;
    padding: 0;
    margin: 0;
    /* border: 1px solid white; */
}

.title-search input{
    margin: 2rem 0rem;
    border-radius: 20px;
    padding: 0.8rem 0.4rem;
    border: 1px solid white;
    background-color: rgb(39, 26, 26);
    object-fit: fill;
    color: aliceblue;
}


.items{
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.items img{
    display: flex;
    gap: 2rem;
    height: 2rem;
    width: 2rem;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    gap: 3rem;
}

.options img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.items a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
.options a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
#Profile{
    border-radius: 50%;
}
.stories{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(71, 37, 37);
    border-radius: 3rem;
    padding: 1rem;
}

.story img{
    height: 10rem;
    width: 7rem;
}